<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Why Choose the Shamrocks?</h1>
</div>
</section>


<section class="tool1">
  
  <div class="row-alt">
    <div class="col-4">
      <div class="desc">
        <p class="main-p">The Erin Shamrocks are a minor hockey organization focused on fun and development<br> with a respectful balance between athletics and academics, all in a local setting servicing Erin, Acton, Georgetown and Caledon.</p>
      </div>
    </div>

</section>


<section class="tool">
  <h2>What we offer</h2>
  
  <div class="row">
    <div class="col-4">
      <a href="/chip" class="icon-link"><div class="icon">
        <i class="fas fa-users"></i>
      </div></a>
      <div class="desc">
        <h4>Family Focused</h4>
        <p>Parents, we would like to thank you for researching this hockey opportunity for your children. This minor hockey program is intended to provide each team with the flexibility to meet all family athletic and academic requirements. </p>
      </div>
    </div>
    <div class="col-4">
      <a href="#" class="icon-link"><div class="icon">
        <i class="fas fa-book"></i>
      </div></a>
      <div class="desc">
        <h4>School Friendly</h4>
        <p>The Erin Shamrock hockey program will only play games on weekends. The program will also leave multiple weekends during the winter season open, for families and students to focus on other activities such as studies, other athletic opportunities and family vacations. </p>
      </div>
    </div>
    <div class="col-4">
      <a href="/teams" class="icon-link"><div class="icon">
        <i class="fas fa-skating"></i>
      </div></a>
      <div class="desc">
        <h4>Full-Ice Hockey</h4>
        <p>Canada has been the dominate hockey nation for over a hundred years. There is no reason to change. The Erin Shamrocks will offer full-ice hockey for all levels including novice and atom. Teams will be formed in April of the current year for the fall. </p>
      </div>
    </div>
    <div class="col-4">
      <a href="/development" class="icon-link"><div class="icon">
         <i class="fas fa-hockey-puck"></i>
      </div></a>
      <div class="desc">
        <h4>Development</h4>
        <p>The Erin Shamrocks believe that the development needs of minor hockey players vary from novice to midget. Each team will have the ability to customize a development model that maximizes the development and fun for each individual participant. </p>
      </div>
    </div>
  </div>
</section>
<section class="container" style="margin-top:15px;">
  <div class="textbox">
    <h2 class="text-header">Who we are</h2>
    <p>Our organization has brought together a group of coaches that have a history of excellence and success in multiple varieties of minor hockey experiences. These coaches have participated and managed  AAA, Junior, NCAA Div 1, and a multitude of minor hockey associations, combining international playing and training experience with some of the best hockey minds the world has to offer. The Erin Shamrocks Association has a fundamental goal and passion to transfer this knowledge onto the next generation of hockey players. <br><br>

These coaches come with a history of success of developing players that have moved on in their playing careers to the OHL, NCAA, CIS, and major junior opportunities. As a coaching group that has had success at the local, provincial, and international championships we never forget about building  and developing the core skills while always remembering that this is a game we play for fun. </p>
 
    <!--<button class="btn-grey">Learn More</button>-->
  </div>
  <img src="stylesheets/smile.jpg" alt="phone">
</section>





