<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">ES CHIP'S</h1>
</div>
</section>

<section class="tool">
  <h2>How CHIP'S Works</h2>
  
  <div class="row">
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="desc">
        <h4>Learn to Skate/Play</h4>
        <p>The CHIP’s program has been running in the Hillsburgh Arena for over 14 years. There have been more than 500 players that have graduated. The program focuses on learning to skate and learning to play in a fun, safe, and affordable manner. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-child"></i>
      </div>
      <div class="desc">
        <h4>Age Groups/Levels</h4>
        <p><strong>The CHIP’s program like swimming lessons based on ability and not birth year.</strong><br>
<strong>Group 1:</strong> First year hockey players brand new to the ice. Our 100% favourites!<br>
<strong>Group2:</strong> For the most part second year players that will focus on enhancing skating while introducing puck and game skills.<br>
<strong>Group 3:</strong> Our most developed group of players that will focus on maximizing their individual skills while being introduced to game play scenarios.<br>
All skills training are buried in massive amounts of fun. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
        <i class="far fa-calendar-alt"></i>
      </div>
      <div class="desc">
        <h4>Scheduele</h4>
        <p>Every player will receive 1 hour of weekend training and one hour of weekday practice ice. The CHIP’s program provides a much greater value than any other CanSkate or youth development program. Schedules are confirmed in August before the seasons start. 
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
         <i class="fas fa-hockey-puck"></i>
      </div>
      <div class="desc">
        <h4>How old do I need to be?</h4>
        <p>Many of our CHIP’s players start to learn about skating and hockey at 3-4 years old. But we also support late bloomers and have had many 8 and 9 year old players register for our program. </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row-list">
    <div class="col-4">
      <div class="desc">
        <p class="main-p">What equipment does my child need?</p>
        <ul class="equipment-list">
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Hockey Skates</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>CSA Approved Hockey Helmet (no bicycle helmets allowed)</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Neck Guard (mandatory)</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Mouth Guard (mandatory)</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Shoulder Pads</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Elbow Pads</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Hockey Gloves</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Jock or Jill</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Hockey Pants</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Shin Pads</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Hockey Socks (extra)</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Jersey (practice)</li>
        <li><i class="far fa-check-square" style="margin-right:15px;"></i>Hockey Stick</li>
        </ul>
      </div>
    </div>
</section>


<section class="container">
<img src="stylesheets/chip1.jpg" alt="photo1">
    

  <img src="stylesheets/chip3.jpg" alt="phone">
</section>
