<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Contact Information</h1>
</div>
</section>

<section>
<div class="contact-container">

<p><strong>Shamrocks General Manager:</strong> To be announced<span style="font-weight:900;padding-left:33px;"> Email:</span><a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>

<p><strong>Shamrocks VP of Development:</strong> To be announced<span style="font-weight:900;padding-left:15px;"> Email:</span><a href="mailto:shamrockserin@gmail.com" style="color:#000">shamrockserin@gmail.com</a></p>


<ul>
<li>Shamrocks VP of Finance: To be announced</li>
<li>Shamrocks VP of Rep Hockey: To be determined - <strong>Accepting Applications</strong></li>
<li>Shamrocks Director of CHIP'S: To be determined - <strong>Accepting Applications</strong></li>
<li>Shamrocks Director of Referees: To be announced</li>
</ul>
</div>


</section>