<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Contact Information</h1>
</div>
</section>

<section>
<div class="contact-container">

<p><strong>Shamrocks General Manager:</strong> Tom Sadler</p>
<p><strong>Email:</strong> <a href="mailto:tom.sadler0909@gmail.com" style="color:#000">tom.sadler0909@gmail.com</a></p>

<p><strong>VP of Development:</strong> Mike Kosziwka</p>
<p><strong>Email:</strong> <a href="mailto:michael@cleanwave.ca" style="color:#000">michael@cleanwave.ca</a></p>


<p><strong>To be Annouced:</strong></p>
<ul>
<li>VP of Finance</li>
<li>VP of Rep Hockey</li>
<li>ES CHIP'S Director</li>
<li>Ref Liason</li>
</ul>
</div>


</section>