<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Contact Information</h1>
</div>
</section>

<section>
<div class="row-contact">
<div class="col-4">
<p><strong>Shamrocks General Manager</strong> 
</div>
<div class="col-4">
<p>To be announced</p>
</div>
<div class="col-4">
 <p>Email:<a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>
</div>
</div>

<div class="row-contact">
<div class="col-4">
<p><strong>Shamrocks VP of Development</strong> 
</div>
<div class="col-4">
<p>To be announced</p>
</div>
<div class="col-4">
 <p>Email:<a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>
</div>
</div>

<div class="row-contact">
<div class="col-4">
<p><strong>Shamrocks VP of Finance</strong> 
</div>
<div class="col-4">
<p>To be announced</p>
</div>
<div class="col-4">
 <p>Email:<a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>
</div>
</div>

<div class="row-contact">
<div class="col-4">
<p><strong>Shamrocks VP of Rep Hockey</strong> 
</div>
<div class="col-4">
<p>To be determined: Accepting Applcations</p>
</div>
<div class="col-4">
 <p>Email:<a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>
</div>
</div>

<div class="row-contact">
<div class="col-4">
<p><strong>Shamrocks Director of CHIP'S</strong> 
</div>
<div class="col-4">
<p>To be determined: Accepting Applcations</p>
</div>
<div class="col-4">
 <p>Email:<a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>
</div>
</div>

<div class="row-contact">
<div class="col-4">
<p><strong>Shamrocks Director of Referees</strong> 
</div>
<div class="col-4">
<p>To be announced</p>
</div>
<div class="col-4">
 <p>Email:<a href="mailto:shamrockserin@gmail.com" 
style="color:#000">shamrockserin@gmail.com</a></p>
</div>
</div>





</section>