<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Development</h1>
</div>
</section>

<section class="tool">
  <h2>Areas of Focus</h2>
  
  <div class="row">
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-skating"></i>
      </div>
      <div class="desc">
        <h4>Skating</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-hockey-puck"></i>
      </div>
      <div class="desc">
        <h4>Passing</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-bullseye"></i>
      </div>
      <div class="desc">
        <h4>Shooting</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
         <i class="fas fa-brain"></i>
      </div>
      <div class="desc">
        <h4>Hockey IQ</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="textbox">
    <h2>Erin Shamrocks Development</h2>
    <p>The Erin Shamrocks believe that the development needs of minor hockey players vary from novice to midget. Each team will have the ability to customize a development model that maximizes the development and fun for each individual participant. <br><br>

To maximize the development of a hockey player as per the National Sports Council of Canada. With a strong understanding of the long term athletic development needs of athletes that played in a late development model sport, the recommendation is that players practice in a 3-to-1 practice to game ratio. Saying that, the Erin Shamrocks will support every coach/team in a customized development model that works the best for those athletes. <br><br>

The Erin Shamrock Minor Hockey Association has partnered with (“Mike K’s Hockey Company”) . (Mike K’s company) will be providing development training on and off the ice, not only for our amazing athletes but for our coaches so that they can continue the ongoing development of these players. (Insert to Mike K’s Website)


 </p>
    
  </div>
  <img src="stylesheets/kid2.png" alt="phone">
</section>


<section class="container" style="background-color:#fff;">
  <div class="textbox">
    <h2>(MIKE's Hockey Training Title)</h2>
    <p>-point form
-mike K bio
-beauty shot here
-mike has worked with hundreds of OHL/ NCAA players
-involved with dozens of minor hockey organizations, georgetown
-Mike’s beliefs


 </p>
    
  </div>
  <img src="stylesheets/kid2.png" alt="phone">
</section>

<!--<section class="tool2">
  
  <div class="row-list">
    <div class="col-4">
      <div class="desc">
        <p class="main-p">The typical season breakdown is as follows:</p>
        <ul>
        <li>The league has 40 total games guaranteed</li>
        <li>24 tournament games (6 tournaments)</li>
        <li>16 league games (8 home and 8 away)</li>
        <li>Tournament playoffs and championship weekend are bonuses</li>
        <li>Season runs from late September to Late March, with approximately 9 to 10 weekends off during that period</li>
        </ul>
      </div>
    </div>

</section>-->

