<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Development</h1>
</div>
</section>

<section class="tool1" style="height:168px;">
  
  <div class="row-alt">
<h2>Areas of Focus</h2>
    </div>

</section>
<section class="tool">
  
  
  <div class="row">
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-skating"></i>
      </div>
      <div class="desc">
        <h4>Skating</h4>
        <p>Skating is the foundation of any players skillset and is the most important skill to be developed early in a players career.  Skating is comprised of:<br><strong>Speed</strong>– How fast can you skate<br><strong> Agility</strong> – How well you maneuvering in tight spaces<br><strong>Balance</strong> – Edgework and general comfort on skates<br><strong>Explosiveness</strong> – how quickly can you reach your max speed<br></p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-hockey-puck"></i>
      </div>
      <div class="desc">
        <h4>Passing</h4>
        <p>Puck control is one of the most important aspects of a successful team, and strong passing skills makes your control game much easier.  We focus on developing giving and receiving different types of passes (forehand, back hand, saucer, etc) but also when to use certain passes and why.  We focus on accuracy and power to give players an extra edge.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
        <i class="fas fa-bullseye"></i>
      </div>
      <div class="desc">
        <h4>Shooting</h4>
        <p>A good shot separates good players from great players, we focus on the most minor details to correct and teach proper shooting technique tailored to each individual players strength and skill level.  Starting with wrist shots for younger players and as their strength develops, we transition to the slapshot and the deadly wrist snap.  Focusing on accuracy, power and quickness, we pride ourselves in creating snipers that goalies learn to hate.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="icon">
         <i class="fas fa-brain"></i>
      </div>
      <div class="desc">
        <h4>Hockey IQ</h4>
        <p>Having a strong skillset in hockey simply isn’t enough to excel anymore.  Knowing how to properly execute your skillset in game situations is a key component of elite players.  We work with teams and individuals through specific game simulation drills to enhance the hockey IQ of each player.  From small ice games, full ice scrimmages, and real time during games, with even video review possible, we help players asses their decisions on the ice in real time to help them understand how to optimally use their skillset to maximise their performance.</p>
      </div>
    </div>
  </div>
</section>

<section class="container" style="margin-top:40px;">
  <div class="textbox">
    <h2>Erin Shamrocks Development</h2>
    <p>The Erin Shamrocks believe that the development needs of minor hockey players vary from novice to midget. Each team will have the ability to customize a development model that maximizes the development and fun for each individual participant. <br><br>

To maximize the development of a hockey player as per the National Sports Council of Canada. With a strong understanding of the long term athletic development needs of athletes that played in a late development model sport, the recommendation is that players practice in a 3-to-1 practice to game ratio. Saying that, the Erin Shamrocks will support every coach/team in a customized development model that works the best for those athletes. <br><br>

The Erin Shamrock Minor Hockey Association has partnered with Elfros Hockey Academy. Elfros Hockey Academy will be providing development training on and off the ice, not only for our amazing athletes but for our coaches so that they can continue the ongoing development of these players. Use of the EHA is voluntary.


 </p>
    
  </div>
  <img src="stylesheets/kid2.png" alt="phone">
</section>


<section class="container" style="background-color:#fff;">
  <div class="textbox">
    <h2>Elfros Hockey Academy</h2>
    <p>Mike has been an elite hockey player and trainer for over 20 years.  During his minor hockey career, Mike played exclusively for the Halton Hurricanes AAA from Novice to Minor Midget, claiming numerous tournament championships and OMHA titles with the highlight being a second place finish in the Quebec Internal Peewee tournament, losing only to the Czechs in the finals and claiming the honor of top Canadian team in the tournament.<br><br>  His junior career started with Orangeville junior B and included stints with the Georgetown raiders, Wexford raiders, and finished with the Streetsville Derbys where he received a full NCAA Div 1 Scholarship to the Clarkson Golden Knights where he also excelled academically by making the deans list as well as the All American All Academic team.  A serious concussion ended Mikes career short as he made the decision to give up his NHL dream to pursue a life after hockey. <br><br> Mike has received training, from and with hundreds of elite athletes and has over 15 years of training experience.  Everything from skating, puck handling, strategy, and off ice training, to a speciality in shooting, Mike has the ability and desire to transfer his vast wealth of knowledge onto the next generation of players and/or coaches in a fun and rewarding environment.<br><br>
      <span style="font-size:1.1rem; font-weight:900;">Mike firmly believes that kids should be excited to succeed rather than afraid to fail and tailors each individual or group session to ensure that the kids want to come back.</span>


 </p>
    
  </div>
  <img src="stylesheets/mike.jpg" alt="phone">
</section>



