<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Frequently Asked Questions</h1>
</div>
</section>


<section>

<div class="faq-container">

<p class="question">1. If my child plays for the shamrocks will they be suspended and not able to play in a Hockey Canada environment?</p>

<p class="answer">“Hockey Canada Rule: Any individual who plays in a non-sanctioned league after the cut-off date of September 30th will lose all privileges with Hockey Canada only for the remainder of that season.” <br><br>

Although Hockey Canada has this rule, the ORHL does not. If a player decides to leave a Hockey Canada Minor Hockey Association mid-season the ORHL will welcome that player. If a player chooses to return to the OMHA there is no issue returning the next season. 

</p>

<p class="question">2. Do I have to live in Erin to play on the Erin Shamrocks?</p>

<p class="answer">“No, the Erin Shamrocks do not have any residency boundaries and we welcome great players and great families to join our minor hockey association."


</p>

<p class="question">3. I have heard that teams in the ORHL do not have practices?</p>

<p class="answer">“This comment is completely false, every coach is encouraged to build a development plan and practice times to maximize the development of all of their players. The Erin Shamrocks Association will work closely with each coach/team to ensure all practice ice-time needs are met.” 


</p>
<p class="question">4. How many games will each team participate in?</p>

<p class="answer">“Each team will participate in a minimum of a 40 game season."


</p>

<p class="question">5. Will my child have insurance?</p>

<p class="answer">“Absolutely, your child will be insured through the AAU (Amateur Athletic Union). The AAU is the world’s largest youth sports organization with over a hundred years in operation.”


</p>

<p class="question">6. What level of rep hockey will the Erin Shamrocks be playing at?</p>

<p class="answer">“The ORHL designates the program as “Rep Hockey”. The Erin Shamrocks leadership group has evaluated the ORHL program quality and it is in our opinion that this level of hockey is equivalent AA/A representative hockey.”


</p>

<p class="question">7. We have heard that the ORHL does not have playoffs or championships? </p>

<p class="answer">“That comment is incorrect, the ORHL, much like (Ontario Women’s Hockey Association) run a provincial championship to conclude the season in a tournament format to crown the season’s champions.”


</p>
</div>

</section>