
<section class="jumbotron">
  <div class="slogan">
    <h1 class="slogan-header"><span class="slogan-top">The</span><br><span class="slogan-colour">SHAMROCK</span><br><span class="slogan-bottom">Advantage.</span></h1>
    <button class="btn-home"><a class="button-link" href="/about">Learn More</a></button>
    <button class="btn-home-alt"><a class="button-link" href ="/contact">Contact</a></button>

  </div>
  <img src="/stylesheets/logo2.png" class="logo-home">
</section>