<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style-alt.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script src="https://kit.fontawesome.com/557e44bc05.js" crossorigin="anonymous"></script>
</head>
<header>
  <nav class="navigation">
    <img src="" alt="logo">
    <div class="dropdown-icon"><i class="fa fa-bars"></i></div>
    <ul id="list" class="active">
      <li><a href="#">home</a></li>
      <li><a href="#">about us</a></li>
      <li><a href="#">chip program</a></li>
      <li><a href="#">rep teams</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="#">faq</a></li>

    </ul>
  </nav>
</header>


<section class="main-container">
  {{{ body }}}
</section>



<section class="footer">
  <div class="col-5">
    <h1>about us</h1>
    <p> asdfhsadf shdf hsdf sdfhdsf sdhf hsd fhsd fhsdhf hsd fhsdf hsdfhds hfsd hfhsdf sdfhds fhd fs fhdshdf hsdfh sdhfhsd fs f</p>
  </div>
  <div class="col-5">
    <h1>get in touch</h1>
    <p><span>Adress:</span>123 123 123</p>
    <p><span>Tel:</span> 727-756-5656</p>
    <p><span>email:</span> 123@gmail.com</p>
  </div>
  <div class="col-5">
    <h1>social media</h1>
    <p>asdfasdf asdf asdf asdf asdf asdf asdf asdfas</p>
    <div class='social-icons'>
        <i class="fa fa-youtube"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
    </div>                    
  </div>
</section>
<section class="footer2">
  <h5>powered by kite developments</h5>
</section>



<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
  $(".dropdown-icon").click(function(){
    $("#list").toggleClass("active");
  });
});
</script>