<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Registration</h1>
</div>
</section>

<section class="tool1">
  
  <div class="row-alt">
    <div class="col-4">
      <div class="desc">
      <h2>Registration Instructions</h2>
        <p class="main-p">To register your child please complete and submit the form below and send your<br> $40 registration fee via e-transfer to email@email.ca </p>
      </div>
    </div>

</section>

<section class="row-list">
<form
  action="https://formspree.io/xrglejak"
  method="POST">
 <label style="display:block;padding:20px;">
    Child's Name:
    <input type="text" name="Child's Name">
  </label> 
  <label style="display:block;padding:20px;">
    Parent Name/s:
    <input type="text" name="Parent's Name/s">
  </label>
  <label style="display:block;padding:20px;">
    Date of Birth:
    <input type="date" name="Child's Date of Birth">
  </label>
   <label style="display:block;padding:20px;">
    Previous Team:
    <input type="text" name="Child's Last Team">
  </label>
  <label style="display:block;padding:20px;">
  Interested in being Head Coach, Assistant Coach, Trainer, Manager or other Volunteer:
  <input type="checkbox" name="Interested in Coaching/ Volunteer Role">
</label>
  <!-- your other form fields go here -->
<label style="display:block;padding:20px;text-align:center;">
  <button type="submit" class="form-button2">Register</button>
  </label>
</form>


</section>

