<section class="page-header">
<div class="page-banner">
<h1 class="page-banner-text">Shamrock Teams</h1>
</div>
</section>

<section>
<div class="row-teams">


   <div class="team-box">
  <p class="team-title">Minor Novice</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>

   <div class="team-box">
  <p class="team-title">Major Novice</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
   <div class="team-box">
  <p class="team-title">Minor Atom</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>

     <div class="team-box">
  <p class="team-title">Major Atom</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
     <div class="team-box">
  <p class="team-title">Minor Peewee</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
     <div class="team-box">
  <p class="team-title">Major Peewee</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
     <div class="team-box">
  <p class="team-title">Minor Bantam</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
     <div class="team-box">
  <p class="team-title">Major Bantam</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
     <div class="team-box">
  <p class="team-title">Minor Midget</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
       <div class="team-box">
  <p class="team-title">Major Midget</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
  </div>

<div class="row-single">
  <div class="team-box2">
  <p class="team-title">CHIP Development</p>
    <div class="team-info">
    <div class="notes">
      
      <p class="team-notes">To be determined</p>
      <p class="team-notes">To be determined</p>
      </div>
    <div class="coach-notes">
      <p class="coach-title">Coach: Bob Henderson</p>
      <p class="coach-title">Email:<a href="/" class="teams-link"> kashooka@hotmail.com</a></p>
      </div>
      </div>
  </div>
</div>
<div class="row-single">
  <div class="team-box2">
  <p class="team-title2">Erin Shamrocks - Junior Hockey Program</p>
  <p class="team-title2">*Coming Soon*</p>
  <img src="stylesheets/logo2.png" class="little-logo1">
  <img src="stylesheets/logo2.png" class="little-logo2">

</div>
</div>


</section>


